p{ line-height: 1em; }
h1, h2, h3, h4{
    color: #002145;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: #002145;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}

#page{ margin: 20px; }

#logo{
	width: 30%;
	margin-top: 5px;
	font-family: Guardian Egyptian;
	display: inline-block;
    font-size: 14pt;
    font-weight: bold;
}

#nav{
	width: 50%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 62px;
		}
			#nav ul li a{
				padding: 20px;
				background: #002145;
				color: white;
			}
			#nav ul li a:hover{
				background-color: grey;
				box-shadow: 0px 1px 1px #666;
			}
			#nav ul li a:active{ background-color: #002145; }

#sizenav{
	display: inline-block;
	text-align: left;
	float: center;
    vertical-align: top;
}
	#sizenav ul{}
		#sizenav ul li{
			display: inline-block;
			height: 20px;
		}
			#sizenav ul li {
				padding: 20px;
				background: grey;
				color: white;
			}

#headerBar{
    height: 40px;
    background: #002145;
}

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

#figure{
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px;
}

#image {
    vertical-align: top;
}

#caption {
    border: 1px dottedd blue;
    text-align: center;
}

#itemdes {
    text-align: center;
}

.button {
    background-color: yellow; 
    border: active;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

#itemsize{
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 32px;
}

#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

#content,
ul li a{ 
    box-sizing: content-box;
    box-shadow: 0px 1px 1px #999; 
}